<div class="col-md-4 mx-auto">
    <div class="card-header">
        <h2>New Add</h2>
    </div>
    <div class="card-body">
        <form action="/notes/new-note" method="POST">
            <div class="form-group">
                <input type="text" name="title" class="form-control" aria-describedby="emailHelp" placeholder="title">
            </div>
            <div class="form-group">
                <textarea name="description" class="form-control" id="description" rows="10"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">save</button>
            </div>
        </form>
    </div>

</div>